extends layout

block content
  h2= title
  h3 Members
  table
    thead
      tr
        th Id
        th Name
        th Year
        th Subteam
    tbody
      for member in members
        tr
          td #{member._id}
          td #{member.name}
          td #{member.year}
          td #{member.subteam}
  h3 Teams
  table
    thead
      tr
        th Id
        th Name
        th Num People
        th Lead
    tbody
      for team in subteams
        tr
          td #{team._id}
          td #{team.name}
          td #{team.num_people}
          td #{team.lead}
